@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

.footerquiz{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    position: absolute;
}
.linksexternos{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #F2F2F2;
  }
  
  .credits{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #F2F2F2;
    padding-bottom: 50px;
    margin: auto;
  }