@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');


.CountryQuizz {
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}
.contenido{
  background-image: url(../img/depositphotos_8130642-stock-illustration-drawing-world-globe-5.jpg);
  background-size:480px 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 464px;
  height: 515px;
  border-radius: 24px;
  margin: auto;
}
.title{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
text-transform: uppercase;
color: #F2F2F2;
text-align: left;
}

.start-quizz{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 400px;
  height: 56px;
  left: 520px;
  top: 469px;
  background: rgba(84, 86, 110, 0.7);
  border: 2px solid rgba(96, 102, 208, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffff;
  outline: none;
  text-decoration: none;
} 
.start-quizz:hover{
  cursor: pointer;
  background: rgb(67, 72, 119);
}
.start-quizz:active{
  cursor: pointer;
  background: rgb(67, 72, 119);
  transform: translateY(4px);
}