@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

.CountryQuizz {
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}
.contenido-quiz{
display: flex;
flex-direction: column;
width: 464px;
height: 515px;
background: #ffffff;
border-radius: 24px;
margin: auto;

}
.title{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
text-transform: uppercase;
color: #F2F2F2;
text-align: left;
}
.adventuresvg{
  display: flex;
  position: absolute;
  left: 54vw;
  bottom: 69vh;
  
}
.question{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #2F527B;
  margin-top: 90px;
}
.alternatives{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.respuesta-A-undefined, .respuesta-B-undefined, .respuesta-C-undefined, .respuesta-D-undefined{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
  width: 400px;
  height: 56px;
  left: 520px;
  top: 469px;
  background: #FFFFFF;
  border: 2px solid rgba(96, 102, 208, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(96, 102, 208, 0.8);
  outline: none;
  text-align:start;
} 
.respuesta-A-true, .respuesta-B-true, .respuesta-C-true, .respuesta-D-true{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
  width: 400px;
  height: 56px;
  left: 520px;
  top: 469px;
  background: #60BF88;
  border: 2px solid #60BF88;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  outline: none;
  text-align:start;
} 
.respuesta-A-false, .respuesta-B-false, .respuesta-C-false, .respuesta-D-false{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
  width: 400px;
  height: 56px;
  left: 520px;
  top: 469px;
  background: #EA8282;
  border: 2px solid #EA8282;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  outline: none;
  text-align:start;
} 

.opcionA, .opcionB, .opcionC, .opcionD{
  margin-left: 10px;
  margin-right: 20px;
}

.respuesta-A-undefined:hover, .respuesta-B-undefined:hover, .respuesta-C-undefined:hover, .respuesta-D-undefined:hover{
  cursor: pointer;
  background: #F9A826;
  color: #FFFFFF;
}
.respuesta-A:hover, .respuesta-B:hover, .respuesta-C:hover, .respuesta-D:hover{
  cursor: pointer;
  background: #F9A826;
  color: #FFFFFF;
}

.respuesta-A:focus, .respuesta-B:focus, .respuesta-C:focus, .respuesta-D:focus{
  background: #F9A826;
  color: #FFFFFF;
}
.button-container-display{
  display: flex;
  justify-content:flex-end;
  align-items:center;
  margin: 10px 10px 0 0;
}
.button-display-none{
  display: none;
}

.next{
  display: block;
  width: fit-content;
  padding: 14px 30px 14px 30px;
  outline: none;
  background-color: #F9A826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
}
