@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

.CountryQuizz {
  text-align: center;
  /* width: 100vw;
  height: 100vh; */
}



.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.contenido{
display: flex;
flex-direction: column;
width: 464px;
height: 515px;
background: #ffffffef;
border-radius: 24px;
margin: auto;
}

.title{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
text-transform: uppercase;
color: #F2F2F2;
}
.question{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #2F527B;
}

.respuesta-A, .respuesta-B, .respuesta-C, .respuesta-D{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 56px;
  left: 520px;
  top: 469px;
  background: #FFFFFF;
  border: 2px solid rgba(96, 102, 208, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(96, 102, 208, 0.8);

} 

.linksexternos{
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F2F2F2;
}

.credits{
  color: #FFFFFF;
  padding-bottom: 50px;
  grid-column: 7/11;
  grid-row: 4;
  margin: auto;
}